.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.Logo{
    width: 200px;
}
.nav-items{
    padding: 30px 28px;
}
.nav-items>ul{
    font-size: 24px;
    display: flex;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.nav-items>ul>li{
    padding: 10px;
    margin: 10px;
}

.res-Container{
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    margin: 6px;
    width: 150px;
    padding: 26px;
    background-color: rgba(240, 248, 255, 0.934);
    word-wrap: break-word; /* ya */
    overflow-wrap: break-word;
}
.res-card:hover{
    cursor: pointer;
    border:1px solid black
}
.search{
    padding: 10px;
}
.res-logo{
    width: 100%;
}
.shimmer-card{
    width: 200px;
    margin: 20px;
    height: 400px;
    background-color: rgba(240, 248, 255, 0.934);
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 25px;
  /* margin: 0 20px; */
  margin-top: 105px;
}
.shimmer-card {
  /* width: 200px;
  height: 400px;
  margin: 20px;
  border-radius: 11px;
   */

  width: 200px;
  height: 450px;
  background-color: #efefef;
  /* height: 300px; */
  /* padding: 5px; */
  /* padding-bottom: 20px; */
  /* border: 1px solid transparent; */

  border-radius: 11px;
  cursor: pointer;
}
/*Animation to Shimmer Component Card and Menu card Start*/
.stroke {
  /* height: 15px; */
  background: #777;
}

.stroke-color {
  background: #777;
}

.animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
}

@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}
.Login{
    padding: 0 20px;
    cursor: pointer;
}
.filter{
    display: flex;
}
